html,
body
{
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
}

header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: url(../images/header-background.png) repeat-y #ffe9c7;
}

header h1.title
{
    background: url(../images/logo.png) no-repeat;
    background-position: 60px 10px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgb(200, 200, 200);
    margin: 0;
    margin-right: 60px;
    padding-top: 10px;
    height: 90px;
}

header h1.title a,
header h1.title a:link,
header h1.title a:visited
{
    color: black;
    text-decoration: none;
}

header h1.title span
{
    display: block;
    padding-left: 320px;
    margin-bottom: 2px;
}

header h1.title span.title,
header h1.title span.title-separator
{
    display: none;
}

header h1.title span.title-short-description
{
    padding-top: 10px;
}

header h1.title span.title-catch-phrase
{
    padding-bottom: 20px;
}

header nav
{
    color: white;
    background: #f6872e url(../images/navigation-bar.png) no-repeat;
    border-bottom: 1px solid #992e1d;
    font-weight: bold;
}

header nav ul
{
    padding: 0;
    padding-left: 60px;
    padding-top: 3px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 0;
}

header nav li
{
    display: inline;
}

header nav a
{
    color: white;
    padding-right: 3px;
    text-decoration: none;
}

header section.other-language-links
{
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 50px; */
}

header section.other-language-links ul,
header section.other-language-links li
{
    display: inline;
    padding: 0;
    margin: 0;
}

footer
{
    background: url(../images/footer-bar.png) repeat-x scroll center top;
}

footer p
{
    font-size: samller;
    text-align: center;
    padding-top: 5px;
}
