html,
body
{
  margin: 0px;
  padding: 0px;
  color: black;
  background-color: white;
}

header
{
  position: relative;
  margin: 0px;
  padding: 0px;
}

header h1.title
{
  background: url(../images/logo.png) no-repeat;
  background-position: 50px 0px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em rgb(200, 200, 200);
  margin-top: 20px;
  height: 100px;
}

header h1.title a,
header h1.title a:link,
header h1.title a:visited
{
  color: black;
  text-decoration: none;
}

header h1.title span
{
  display: block;
  padding-left: 310px;
  margin-bottom: 2px;
  margin-right: 150px;
}

header h1.title span.title,
header h1.title span.title-separator
{
  display: none;
}

header h1.title span.title-short-description
{
  padding-top: 10px;
}

header h1.title span.title-catch-phrase
{
  padding-bottom: 20px;
}
