/*
html,
body
{
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
    line-height: 140%;
}

a:link
{
    color: #005fb0;
}

a:visited
{
    color: #f6872e;
}

a:active
a:hover
{
    color: #fff;
    background-color: #005fb0;
    text-decoration: none;
}
*/
pre
{
    overflow: auto;
    overflow-y: hidden; 
    padding: 20px;
    background-color: #FAFAFA;
    color: #000;
    line-height: 120%;
    border: 1px solid #DDD;
}


header
{
    display: block; /* for IE < 9. */
    position: relative;
    margin: 0px;
    padding: 0px;
    /* background: url(../images/header-background.png) repeat-y #ffe9c7; */
}

header div.title
{
    background: url(../images/logo.png) no-repeat top left;
	margin: 20px;
}


header div.title a,
header div.title a:link,
header div.title a:visited
{
    text-decoration: none;
}

header div.title a
{
	display: block;
	height:65px;
	border:1px solid #FFF;
	color:#666;
	font-size:small;
	margin-bottom:40px;
}

header div.title span
{

}

header div.title span.project,
header div.title span.separator
{
    display: none;
}

header div.title span.description
{
	display: block;
    padding: 0;
    margin:35px 0 0 240px;
}



/*===nav===*/

header nav
{
    display: block; /* for IE < 9. */
    color: #AAA;
    background:#333;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #DDD;
}

header nav ul
{
    padding: 0;
    line-height: 36px;
    margin: 0;
}

header nav li
{
    display: inline;
    margin-left:20px;
}

header nav a,
header nav a:link,
header nav a:visited,
header nav a:active,
header nav a:hover
{
    color: #AAA;
    padding-right: 3px;
    text-decoration: none;
}

header nav a:hover
{
	color:#FFF;
    text-decoration: underline;
}

header div.facebook-buttons
{
    position: absolute;
    top: 0px;
    right: 0px;
    border: #3b5a9a 3px solid;
    background-color: white;
    
    	-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
    
    padding-top: 10px;
    padding-left: 10px;
    width: 320px;
    height: 90px;
    overflow: hidden;
}

header div.other-language-links
{
    position: absolute;
    top: 5px;
    right: 360px;
    /* width: 50px; */
}

header div.other-language-links ul,
header div.other-language-links li
{
    display: inline;
    padding: 0;
    margin: 0;
}

header div.other-language-links a img
{
    border-style: none;
}

div#body
{
    position: relative;
}

div#body h1
{
    margin-left: 30px;
}

div#content
{
    background-color: #FAFAFA;
    border:1px solid #DDD;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 230px;
    margin-bottom: 10px;
    
    /*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    */
}

div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6
{
    margin: 0;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 3px solid #FAFAFA;
    /*color: #38a3ef;*/
    font-weight: bold;
}

div#content h2
{
    /*
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    */
    color: white;
    background: #005fb0 url(../images/navigation-bar.png) top left repeat-x;
    font-weight: bold;
    padding: 10px;
    padding-left:30px;
    margin: 0;
}

div#content h3
{
    font-weight: bold;
    padding: 10px 10px 0 10px;
    margin: 0;
}

div#content h4,
div#content h5,
div#content h6
{
}

div#content a.amazon-detail
{
    display: block;
    padding: 20px;
    background-color: white;
    border: 1px solid #005fb0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

div#content a.amazon-detail span.amazon-detail span
{
    display: block;
}

div#content a.amazon-detail img.amazon-detail
{
    float: left;
    padding-right: 15px;
}

div#content section,
div#content div.post
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#content div#posts
{
    background-color: white;
}

div#content div.post
{
    /*background-color: #fff5e5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    */
    margin-bottom: 5em;
}

div#content div.post p
{
    text-indent: 1em;
}

div#content div.post span.date
{
    display: block;
    text-align: right;
}

div#content div.post div.social-widgets
{
    text-align: right;
}

div#content div.post table
{
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #005fb0;
}

div#content div.post table th,
div#content div.post table td
{
    border-bottom: 1px solid #005fb0;
    padding: 5px;
    margin: 0 5px;
}

div#content section#menu table
{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

div#content section#menu table th,
div#content section#menu table td
{
    border: 1px solid #005fb0;
    padding: 5px;
    margin: 0;
}

div#content section#menu table td ul
{
    padding-left: 1em;
    margin: 0;
}

div#content section#menu table td.note
{
    text-align: center;
    font-weight: bold;
}

div#sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: auto;
    font-size: 90%;
    background-color: white;
    overflow: auto;
}

div#sidebar h2
{
    font-size: small;
    color: #fff;
    background: #005fb0 url(../images/sidebar-header-background.png) left top repeat-x;
    margin: 0 0 10px 0;
    padding: 7px 0 7px 10px;
    font-weight: bold;
}

div#sidebar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

div#sidebar ul li
{
    margin-top: 5px;
    margin-bottom: 5px;
}

div#sidebar ul li:before
{
    content: ">> ";
    color: #005fb0;
}

div#sidebar ul ul
{
    margin-left: 20px;
    list-style: square;
}

div#sidebar ul ul li:before
{
    content: "> ";
    font-weight: bold;
    color: #2fa52f;
}

div#sidebar ul li a.amazon-detail img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#sidebar span.date
{
    display: block;
    padding-left: 2em;
}

div#top-page-content
{
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#top-page-content div.notices
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div#top-page-content div.notices section
{
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: #DDD 2px solid;
    background-color: white;
    /*
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-opacity: 0.75;
    opacity: 0.75;
    */
}

div#top-page-content div.notices section#about
{
    float: left;
}

div#top-page-content div.notices section#latest
{
    float: right;
}

div#top-page-content div.notices section:hover
{
    -moz-opacity: 1;
    opacity: 1;
}

div#top-page-content div.notices section h2
{
    padding: 0;
    margin: 0;
    text-align: center;
}

div#top-page-content section#latest-posts
{
    display: block;
    clear: both;
    padding-top: 10px;
}

div#top-page-content section#latest-posts ul.posts,
div#top-page-content section#latest-posts ul.posts li
{
    margin: 0;
    padding: 0;
}

div#top-page-content section#latest-posts ul.posts
{
    margin-top: 10px;
    margin-left: 20px;
}

div#top-page-content p.detail-link
{
    padding-top: 10px;
    text-align: center;
}

div#top-page-content p.detail-link a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    padding-left: 40px;
    background: #38a3ef no-repeat 8px 9px;
    border: 1px solid #004ec7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#top-page-content p.detail-link a:hover
{
    text-decoration: underline;
}

div#top-page-content p.detail-link a.characteristic
{
    background-image: url(../images/characteristic.png);
}

div#top-page-content p.detail-link a.install
{
    background-image: url(../images/install.png);
}

div.note
{
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #ac9;
    background-color: #eeffcc;
}

footer
{
    clear: both;
    display: block; /* for IE < 9. */
    //background: url(../images/footer-bar.png) repeat-x scroll center top;
    border-top:1px solid#DDD;
}

footer p,
footer address
{
    text-align: center;
}

footer address
{
    padding-top: 5px;
}
