html,
body
{
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
}

a:link
{
    color: #992e1d;
}

a:visited
{
    color: #f6872e;
}

a:active
a:hover
{
    color: #fff;
    background-color: #992e1d;
    text-decoration: none;
}

header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    /* background: url(../images/header-background.png) repeat-y #ffe9c7; */
}

header h1.title
{
    background: url(../images/logo.png) no-repeat;
    background-position: 10px 25px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgb(200, 200, 200);
    margin: 0;
    margin-right: 360px;
    padding: 0px;
    height: 125px;
}

header h1.title a,
header h1.title a:link,
header h1.title a:visited
{
    color: black;
    text-decoration: none;
}

header h1.title a
{
    display: block;
    height: 125px;
}

header h1.title span
{
    display: block;
    padding-left: 260px;
    margin-bottom: 2px;
}

header h1.title span.project,
header h1.title span.separator
{
    display: none;
}

header h1.title span.description
{
    padding-top: 30px;
}

header nav
{
    color: white;
    background: #f6872e url(../images/navigation-bar.png) no-repeat;
    border-bottom: 1px solid #992e1d;
    font-weight: bold;
}

header nav ul
{
    padding: 0;
    padding-left: 60px;
    line-height: 36px;
    margin: 0;
}

header nav li
{
    display: inline;
}

header nav a,
header nav a:link,
header nav a:visited,
header nav a:active,
header nav a:hover
{
    color: white;
    padding-right: 3px;
    text-decoration: none;
}

header nav a:hover
{
    text-decoration: underline;
}

header div.facebook-buttons
{
    position: absolute;
    top: 30px;
    right: 10px;
    border: #992e1d 2px solid;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 320px;
    height: 70px;
}

header div.other-language-links
{
    position: absolute;
    top: 5px;
    right: 10px;
    /* width: 50px; */
}

header div.other-language-links ul,
header div.other-language-links li
{
    display: inline;
    padding: 0;
    margin: 0;
}

div#content
{
    background-color: #fff5e5;
    padding: 0;
    padding-left: 0px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div#content section
{
    padding-left: 20px;
    padding-right: 20px;
}

div#content h1,
div#content h2,
div#content h3,
div#content h4,
div#content h5,
div#content h6
{
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-bottom: 1px solid #992e1d;
    color: #992e1d;
    font-weight: bold;
}

div#top-page-content
{
    position: relative;
    background: url(../images/top-background.jpg) no-repeat scroll center center;
    height: 556px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#top-page-content section
{
    width: 300px;
    float: left;
    padding: 10px;
    margin: 10px;
    border: #992e1d 2px solid;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-opacity: 0.75;
    opacity: 0.75;
}

div#top-page-content section:hover
{
    -moz-opacity: 1;
    opacity: 1;
}

div#top-page-content section h2
{
    padding: 0;
    margin: 0;
    text-align: center;
}

div#top-page-content p.detail-link
{
    text-align: center;
}

div#top-page-content p.detail-link a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    padding-left: 40px;
    background: #f6872e no-repeat 8px 9px;
    border: 1px solid #992e1d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div#top-page-content p.detail-link a:hover
{
    text-decoration: underline;
}

div#top-page-content p.detail-link a.characteristic
{
    background-image: url(../images/characteristic.png);
}

div#top-page-content p.detail-link a.install
{
    background-image: url(../images/install.png);
}

footer
{
    background: url(../images/footer-bar.png) repeat-x scroll center top;
}

footer p,
footer address
{
    font-size: samller;
    text-align: center;
}

footer address
{
    padding-top: 5px;
}
