/* -*- css -*- */
/*
 * groonga.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- groonga theme.
 *
 * :copyright: Copyright 2011 by the groonga team, see AUTHORS.
 * :license: LGPLv2, see LICENSE for details.
 *
 */

@import url("default.css");

html,
body
{
    margin: 10px;
    padding: 0px;
}

/*
a:link,
div.sphinxsidebar a:link,
div.sphinxsidebar a:visited
{
    color: #38a3ef;
}

a:visited
{
    color: #f6872e;
}

a:active,
div.sphinxsidebar a:active,
a:hover,
div.sphinxsidebar a:hover
{
    color: #fff;
    background-color: #992e1d;
    text-decoration: none;
}
*/



div.header
{
    display: block; /* for IE < 9. */
    position: relative;
    margin: 0px;
    padding: 0px;
}

div.header h1.title
{
    background: url(logo.png) no-repeat top left;
	margin: 20px;
	width:800px;
}


div.header h1.title a,
div.header h1.title a:link,
div.header h1.title a:visited,

{
    text-decoration: none;
}

div.header h1.title a:hover{
	background:none;
}


div.header h1.title a
{
	display: block;
	height:65px;
	color:#666;
	font-size:small;
	font-weight:lighter;
	margin-bottom:40px;
	border:1px solid #FFF;

}

div.header h1.title span
{

}

div.header h1.title span.project,
div.header h1.title span.separator
{
    display: none;
}

div.header h1.title span.description
{
	
	display: block;
    padding: 0;
    margin:35px 0 0 240px;
    
}


div.header div.facebook-buttons
{
    position: absolute;
    top: 0px;
    right: 0px;
    border: #3b5a9a 3px solid;
    background-color: white;
    
    	-moz-border-radius: 5px;
    	-webkit-border-radius: 5px;
    	border-radius: 5px;
    
    padding-top: 10px;
    padding-left: 10px;
    width: 320px;
    height: 90px;
    overflow: hidden;
}


div.header div.other-language-links
{
    position: absolute;
    top: 5px;
    right: 360px;
}

div.header div.other-language-links ul,
div.header div.other-language-links li
{
    display: inline;
    padding: 0;
    margin: 0;
}

div.header div.other-language-links a img
{
    border-style: none;
}


div.bodywrapper
{
	/*
    background-color: #fff5e5;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    */
    background-color: #FAFAFA;
    border:1px solid #DDD;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 230px;
    margin-bottom: 10px;
}

div.body
{
	padding-top:10px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6
{
	/*
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-bottom: 1px solid #992e1d;
    color: #992e1d;
    font-weight: bold;
    */
    margin: 0;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 3px solid #FAFAFA;
    color: #000;
    font-weight: bold;
}

div.body h1{
	color: white;
    background: #005fb0 url(navigation-bar.png) top left repeat-x;
    font-weight: bold;
    font-size:large;
    padding: 10px;
    padding-left:30px;
    
}

div.body h2{
	font-size:large;
}


div.related
{
    display: block; /* for IE < 9. */
    color: #AAA;
    background:#333;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #DDD;
}

div.related ul
{
    padding: 0;
    line-height: 36px;
    margin: 0;
}

div.related li
{
    display: inline;
    margin-left:20px;
}

div.related a,
div.related a:link,
div.related a:visited,
div.related a:active,
div.related a:hover
{
    color: #AAA;
    padding-right: 3px;
    text-decoration: none;
}

div.related a:hover
{
	color:#FFF;
    text-decoration: underline;
    background:none;
}





div.document
{
    position: relative;
}

div.document div.body img
{
    border: 1px solid #DDD;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

/*
div.sphinxsidebar
{
    position: absolute;
    top: 0;
    font-size: smaller;
}

div.sphinxsidebarwrapper
{
    padding-right: 0;
}

div.sphinxsidebar h3
{
    color: #fff;
    background: url(menu-header.png) right top no-repeat;
    margin: 0 0 10px 0;
    padding: 0;
    padding-left: 10px;
    line-height: 36px;
    font-weight: bold;
}

div.sphinxsidebar h3 a:link,
div.sphinxsidebar h3 a:visited
{
    color: #fff;
}

div.sphinxsidebar h4
{
    font-size: small;
}

div.sphinxsidebar h4:before
{
    content: ">> ";
    color: #53aa24;
}

div.sphinxsidebar ul,
div.sphinxsidebar ul ul
{
    list-style-type: none;
}

div.sphinxsidebar li ul
{
    margin-top: 4px;
}

div.sphinxsidebar li ul li
{
    margin-bottom: 4px;
}

div.sphinxsidebar p.topless:before,
div.sphinxsidebar ul li:before
{
    content: "> ";
    font-weight: bold;
    color: #2fa52f;
}

div.sphinxsidebar p.searchtip
{
    margin-right: 10px;
}

*/

div.sphinxsidebar
{
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    font-size: 90%;
    background-color: white;
    overflow: auto;
}

div.sphinxsidebar h3
{
    font-size: small;
    color: #fff;
    background: #005fb0 url(navigation-bar.png) left top repeat-x;
    margin: 0 0 10px 0;
    padding: 7px 0 7px 10px;
    font-weight: bold;
}

div.sphinxsidebar h4{
	font-size:small;
	font-weight:bold;
	color:#CCC;
}

div.sphinxsidebar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

div.sphinxsidebar ul li
{
    margin-top: 5px;
    margin-bottom: 5px;
}

div.sphinxsidebar ul li:before
{
    content: ">> ";
    color: #005fb0;
}

div.sphinxsidebar ul ul
{
    margin-left: 20px;
    list-style: none;
}

div.sphinxsidebar ul ul li:before
{
    content: "> ";
    color: #005fb0;
}

div.sphinxsidebar ul li a.amazon-detail img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sphinxsidebar span.date
{
    display: block;
    padding-left: 2em;
}

div.sphinxsidebar input{
	border: 1px solid #DDD;
	font-size: 1em;
}



div.footer
{
    clear: both;
    display: block; /* for IE < 9. */

}


pre
{
    overflow: auto;
    overflow-y: hidden; 
    padding: 20px;
    background-color: #FAFAFA;
    color: #000;
    line-height: 120%;
    border: 1px solid #DDD;
}


tt {
	font-size: 1.2em;
}