---
layout: en
title: An open-source fulltext search engine and column store
no_sidebar: true
---
<div id="top-page-content">
  <div class="notices">
    <section id="about">
      <h2>About groonga</h2>
      <p>Groonga is an open-source fulltext search engine and column store. It lets you write high-performance applications that requires fulltext search.</p>
      <p class="detail-link"><a href="docs/characteristic.html" class="characteristic">Characteristic</a></p>
    </section>
    <section id="latest">
      <h2>The latest release</h2>
      <p><a href="docs/news.html#release-2-0-9">2.0.9</a> is the latest release. It had been released at 2012-11-29.</p>
      <p class="detail-link"><a href="docs/install.html" class="install">Install</a></p>
    </section>
  </div>

  <section id="latest-posts">
    <h2>The latest posts</h2>
    <ul class="posts">
      {% for post in site.posts %}
        {% if post.categories contains "en" %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="date">({{ post.date | date: "%Y-%m-%d" }})</span>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
