---
layout: ja
---
<div id="posts">
  {% for post in site.posts limit:10 %}
    {% if post.categories contains "ja" %}
    <div class="post">
      <span class="date"><a href="{{ post.url}}" title="{{ post.title | escape }} ({{post.date | date: '%Y-%m-%d' }})">{{ post.date | date: "%Y-%m-%d" }}</a></span>
      {{ post.content }}
      <div class="social-widgets">
        <div class="inline-social-widgets">
          <g:plusone href="{{ site.url }}{{ post.url }}" size="medium"></g:plusone>
          <a href="http://b.hatena.ne.jp/entry/{{ site.url }}{{ post.url }}"
             class="hatena-bookmark-button"
             data-hatena-bookmark-layout="standard"
             title="このエントリーをはてなブックマークに追加"
             ><img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
                 width="20"
                 height="20"
                 style="border: none;"
                 alt="このエントリーをはてなブックマークに追加" /></a>
          <a href="http://twitter.com/share"
             class="twitter-share-button"
             data-lang="ja"
             data-url="{{ site.url }}{{ post.url }}"
             data-text="{{ post.title | escape }} ({{ post.date | date: '%Y-%m-%d' }}">ツイートする</a>
        </div>
        <fb:like layout="standard"
                 width="450"
                 href="{{ site.url }}{{ post.url }}"></fb:like>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
