---
layout: skeleton
language: en
country: US
---
<header id="header">
  <div class="title">
    <a href="/">
      <span class="project">groonga</span>
      <span class="separator">-</span>
      <span class="description">{{ page.title }}</span>
    </a>
  </div>

  <nav>
    <ul>
      <li><a href="/docs/">Documentation</a></li>
      <li><a href="/publication/">Publication</a></li>
      <li><a href="/docs/community.html">Community</a></li>
      <li><a href="/docs/contribution.html">Contribution</a></li>
      <!--li><a href="/blog/">Blog</a></li-->
    </ul>
  </nav>

  <div class="facebook-buttons">
    <fb:like href="http://www.facebook.com/pages/groonga/201193596592346"
             layout="standard"
             width="290"></fb:like>
  </div>

  <div class="other-language-links">
    <ul>
      <li><a href="/ja{{ page.url }}" alt="日本語" title="日本語"><img src="/images/jp.png"></a></li>
    </ul>
  </div>
</header>

{% if page.no_sidebar %}
  {{ content }}
{% else %}
<div id="content">
  {{ content }}
</div>
{% endif %}

<footer id="footer">
  <address>&copy; The groonga project.</address>
  <p class="license">groonga is released under <a href="http://www.opensource.org/licenses/lgpl-2.1.php">the GNU Lesser General Public License version 2.1</a>.</p>
</footer>
