---
layout: skeleton
---
<header id="header">
  <div class="title">
    <a href="/ja/">
      <span class="project">Groonga</span>
      <span class="separator">-</span>
      <span class="description">{{ page.title }}</span>
    </a>
  </div>

  <nav>
    <ul>
      <li><a href="/ja/docs/">ドキュメント</a></li>
      <li><a href="/ja/publication/">発表</a></li>
      <li><a href="/ja/users/">利用例</a></li>
      <li><a href="/ja/related-projects.html">関連プロジェクト</a></li>
      <li><a href="/ja/docs/community.html">コミュニティ</a></li>
      <li><a href="/ja/support/">サポート</a></li>
      <li><a href="/ja/blog/">ブログ</a></li>
      <li><a href="/ja/docs/contribution.html">開発者向け情報</a></li>
      <li>
        <form action="http://search.groonga.org/search"
              method="get"
              accept-charset="UTF-8">
          <input id="site-search-query" type="input" name="query">
          <input type="hidden" name="check[]" value="Groonga">
        </form>
      </li>
    </ul>
  </nav>

  <div class="facebook-buttons">
    <fb:like href="http://www.facebook.com/groonga"
             layout="standard"
             width="290"></fb:like>
  </div>

  <div class="other-language-links">
    <ul>
      {% capture relative_url %}
        {% if page.relative_url %}
          /{{ page.relative_url }}
        {% else %}
          {{ page.url | remove_first:'ja/' | remove:'index.html' }}
        {% endif %}
      {% endcapture %}
      <li><a href="{{ relative_url | remove:' ' | strip_newlines }}" title="English">English</a></li>
    </ul>
  </div>
</header>

{% if page.no_sidebar %}
  {{ content }}
{% else %}
<div id="body">
  {% capture title_heading %}
    {% if page.heading %}
      {{ page.heading }}
    {% else %}
      {{ page.title }}
    {% endif %}
  {% endcapture %}
  <h1 id="title">
    {% if page.heading_link %}
      <a href="{{ page.heading_link }}">
        {{ title_heading | strip_newlines }}
      </a>
    {% else %}
      {{ title_heading | strip_newlines }}
    {% endif %}
  </h1>
  <div id="content">
    {{ content }}
  </div>
  <div id="sidebar">
    <h2>リンク</h2>
    <ul>
      <li><a href="/ja/">ホーム</a></li>
      <li><a href="/ja/docs/">ドキュメント</a></li>
      <li><a href="/ja/publication/">発表</a></li>
      <li><a href="/ja/users/">利用例</a></li>
      <li><a href="/ja/related-projects.html">関連プロジェクト</a></li>
      <li><a href="/ja/docs/community.html">コミュニティ</a></li>
      <li><a href="/ja/docs/contribution.html">コントリビュート</a></li>
      <li><a href="/ja/logo/">ロゴ</a></li>
      <li><a href="/ja/sticker/">ステッカー</a></li>
      <li><a href="/ja/blog/">ブログ</a></li>
    </ul>
    <h2>最新記事</h2>
    <ul>
      {% for post in site.posts %}
        {% if post.categories contains "ja" %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="date">({{ post.date | date: "%Y-%m-%d" }})</span>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    <h2>書籍</h2>
    <ul>
      <li>
        <a class="amazon-detail" href="http://amzn.to/jScDv6">
          <span class="amazon-title">検索エンジンはなぜ見つけるのか</span><br>
          <img class="amazon-detail"
               src="http://ecx.images-amazon.com/images/I/5169KreVZdL._SL75_.jpg"
               alt="検索エンジンはなぜ見つけるのか　―知っておきたいウェブ情報検索の基礎知識"
               height="75" width="53">
        </a>
      </li>
    </ul>
  </div>
</div>
{% endif %}

<footer id="footer">
  <address>&copy; 2011-{{ site.time | date: "%Y" }} Groonga Project</address>
  <p class="license">Groongaは<a href="http://www.opensource.org/licenses/lgpl-2.1.php">GNU Lesser General Public License version 2.1</a>の下でリリースされています。</p>
</footer>
