---
layout: skeleton
language: ja
country: JP
---
<header id="header">
  <h1 class="title">
    <a href="/">
      <span class="project">groonga</span>
      <span class="separator">-</span>
      <span class="description">{{ page.title }}</span>
    </a>
  </h1>

  <nav>
    <ul>
      <li><a href="/ja/docs/news.html">お知らせ</a></li>
      <li><a href="/ja/docs/characteristic.html">特徴</a></li>
      <li><a href="/ja/docs/install.html">インストール</a></li>
      <li><a href="/ja/docs/">ドキュメント</a></li>
      <li><a href="/ja/publication/">発表</a></li>
      <li><a href="/ja/docs/community.html">コミュニティ</a></li>
      <li><a href="/ja/docs/developer.html">開発者向け情報</a></li>
    </ul>
  </nav>

  <div class="facebook-buttons">
    <fb:like href="http://www.facebook.com/pages/groonga/201193596592346"
             layout="standard"
             width="290"></fb:like>
  </div>

  <div class="other-language-links">
    <ul>
      <li><a href="/{{ page.url }}" alt="English" title="English"><img src="/images/us.png"></a></li>
    </ul>
  </div>
</header>

<div id="content">
  {{ content }}
</div>

<footer id="footer">
  <address>&copy;The groonga project.</address>
  <p class="license">groonga is released under <a href="http://www.opensource.org/licenses/lgpl-2.1.php">the GNU Lesser General Public License version 2.1</a>.</p>
</footer>
