---
layout: ja
heading: blogroonga
---
<section id="post">
  <span class="date"><a href="{{ page.url}}" title="{{ page.title | escape }} ({ page.date | date: '%Y-%m-%d' }})">{{ page.date | date: "%Y-%m-%d" }}</a></span>
  {{ content }}
</section>

{% if site.related_posts != empty %}
<section id="related">
  <h2>関連記事</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="date">({{ post.date | date: "%Y-%m-%d" }})</span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
