<!DOCTYPE html>
<html lang="{{ page.language }}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>groogna - {{ page.title }}</title>
  <meta name="author" content="groonga project" />

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.png" />

  <meta property="fb:page_id" content="201193596592346" />
  <meta property="fb:admins" content="kouhei.sutou" />
  <meta property="og:type" content="product" />
  <meta property="og:image" content="http://groonga.org/images/groonga.png" />
  <meta property="og:site_name" content="groonga" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

{% if page.language == "ja" %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/ja/blog/index.rdf" />
{% endif %}
</head>
<body>
  <div id="fb-root"></div>
  {{ content }}

  <script src="http://connect.facebook.net/{{ page.language }}_{{ page.country }}/all.js"></script>

  <script>
    FB.init({
       appId  : null,
       status : true, // check login status
       cookie : true, // enable cookies to allow the server to access the session
       xfbml  : true  // parse XFBML
    });
  </script>
</body>
</html>
