---
layout: en
title: blogroonga
relative_path: blog/
---
<div id="posts">
  {% for post in paginator.posts %}
    {% if post.categories contains "en" %}
    <div class="post">
      <span class="date"><a href="{{ post.url}}" title="{{ post.title | escape }} ({{post.date | date: '%Y-%m-%d' }})">{{ post.date | date: "%Y-%m-%d" }}</a></span>
      {{ post.content }}
      <div class="social-widgets">
        <div class="inline-social-widgets">
          <g:plusone href="{{ site.url }}{{ post.url }}" size="medium"></g:plusone>
          <a href="http://twitter.com/share"
             class="twitter-share-button"
             data-lang="en"
             data-url="{{ site.url }}{{ post.url }}"
             data-text="{{ post.title | escape }} ({{ post.date | date: '%Y-%m-%d' }}">Tweet</a>
        </div>
        <fb:like layout="standard"
                 width="450"
                 href="{{ site.url }}{{ post.url }}"></fb:like>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
